:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-brand--3: #141321;

  --color-dark--1: #234;
  --color-dark--2: #424242;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #dedede;
  --color-light--4: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 660px) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
}

::selection {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
}

.app {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--1);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
  @media only screen and (max-width: 660px) {
    display: block;
  }
}

#map {
  flex: 1;
  background-color: var(--color-light--1);
  @media only screen and (max-width: 660px) {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.sidebar {
  flex-basis: 48rem;
  position: relative;
  display: flex;
  @media only screen and (max-width: 660px) {
    /* display: none; */
    position: absolute;
    width: 101%;
    height: 100%;
    left: 0;
  }
}

.history {
  background-color: var(--color-dark--2);
  transform: translateX(-88%);
  transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1002;
  width: 150%;
  @media only screen and (max-width: 660px) {
    transform: translateX(-89%);
    background-color: rgb(66, 66, 66, 0.96);
  }
}

.history.expanded {
  transform: translateX(0%);
}

/** Side Hamberger**/

.hamburger-container {
  z-index: 1003;
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 5.6rem;
  height: 100%;
  background-color: var(--color-brand--3);
  @media only screen and (max-width: 660px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.6rem;
  }
}

.hamburger {
  width: 35px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  right: 1.2rem;
  position: absolute;
  margin-top: -10px;
  @media only screen and (max-width: 660px) {
    right: 0.8rem;
    height: 24px;
    width: 32px;
  }
}

.hamburger span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.line1 {
  width: 100%;
  height: 4px;
  display: block;
  top: 0px;
  left: 0px;
}
.line2 {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
  @media only screen and (max-width: 660px) {
    top: 10px;
  }
}
.line3 {
  width: 100%;
  height: 4px;
  display: block;
  bottom: 0px;
  left: 0px;
}

.hamburger.open .line2 {
  left: 3px;
  top: 12px;
  width: 30px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  /* transform: rotate(90deg); */
  transition-delay: 300ms;
  @media only screen and (max-width: 660px) {
    left: 4px;
    width: 24px;
  }
}

.hamburger.open .line1 {
  left: 1px;
  top: 19px;
  width: 20px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: rotate(45deg);
  transition-delay: 100ms;
  @media only screen and (max-width: 660px) {
    width: 16px;
    top: 16.5px;
  }
}
.hamburger.open .line3 {
  left: 1px;
  top: 6px;
  width: 20px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: rotate(-45deg);
  transition-delay: 200ms;
  @media only screen and (max-width: 660px) {
    width: 16px;
    top: 7px;
    /* top: 10px; */
  }
}

/*** History content ***/

.history__content {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2.4rem 8.8rem 2.4rem 2.4rem;
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  @media only screen and (max-width: 660px) {
    padding: 2.4rem 6.8rem 2.4rem 1.2rem;
  }
}

.notes {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}

#blob {
  top: 0;
  z-index: 1001;
  right: 6rem;
  transform: translateX(100%);
  height: 100%;
  position: absolute;
  @media only screen and (max-width: 660px) {
    display: none;
  }
}

#blob-path {
  height: 100%;
  fill: var(--color-brand--3);
}

.add-box,
.icon,
.bottom-content,
.note-container,
header,
.settings .menu__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** Search **/
.search {
  position: relative;
  /* margin: 35px 0 18px; */
}
.search__input {
  height: 4.8rem;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 42px;
  border: 1px solid #999;
}
.search__input:focus {
  padding: 0 41px;
  border: 2px solid #4d59fb;
}
.search__input::placeholder {
  color: #b8b8b8;
}
.search :where(i, span) {
  position: absolute;
  top: 50%;
  color: #999;
  transform: translateY(-50%);
}
.search__icon {
  left: 18px;
  pointer-events: none;
  font-size: 16px;
}
.search__input:focus ~ .search__icon {
  color: #4d59fb;
}
.search__close {
  right: 15px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.search__close.visible {
  opacity: 1;
  pointer-events: auto;
}
/********************/

/** Search Menu **/

.search-menu__options {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-menu__link {
  display: flex;
  font-size: 1.6rem;
  gap: 0.4rem;
  cursor: pointer;
  color: var(--color-light--2);
  transition: color 0.3s ease-out;
}

.search-menu__link:hover {
  color: var(--color-light--1);
}

.search-menu__link.selected {
  color: #4d59fb;
}

.search-menu__option--sort {
  position: relative;
}

.search-menu-sort {
  font-size: 1.6rem;
  margin: 0;
  position: absolute;
  top: calc(100% + 0.8rem);
  right: 0;
  background-color: #fff;
  border-radius: 0.5rem;
  min-width: 16rem;
  padding: 0.5rem 0.5rem;
  z-index: 1002;
  box-shadow: 0rem 1rem 1rem -0.5rem rgba(0 0 0 / 50%);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-30%);
  transition: all 0.2s ease-out;
}

.search-menu__link.selected + .search-menu-sort {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.search-menu-sort__option {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  list-style: none;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-brand--3);
  font-weight: 500;
  transition: all 0.2s;
}

.search-menu-sort__option:hover,
.search-menu-sort__option:active {
  color: var(--color-dark--2);
  background-color: var(--color-light--4);
}
/*****************************/

/** Add box **/
.note,
.add-box {
  height: 25rem;
  list-style: none;
  border-radius: 5px;
  padding: 15px 20px 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.add-box {
  height: 16rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s;
}

.add-box.hide {
  display: none;
}

.add-box .icon {
  height: 7.2rem;
  width: 7.2rem;
  color: #88abff;
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px dashed #88abff;
}
.add-box__text {
  color: #88abff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20px;
}

.add-box:hover {
  background-color: #f6f6f6;
}

/** Note history **/

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note .details {
  max-height: 165px;
  overflow-y: auto;
}
.note .details::-webkit-scrollbar,
.note-container textarea::-webkit-scrollbar {
  width: 0;
}
.note .details:hover::-webkit-scrollbar,
.note-container textarea:hover::-webkit-scrollbar {
  width: 5px;
}
.note .details:hover::-webkit-scrollbar-track,
.note-container textarea:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.note .details:hover::-webkit-scrollbar-thumb,
.note-container textarea:hover::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 25px;
}
.note__title {
  font-size: 22px;
  font-weight: 500;
}
.note__date,
.note__desc {
  display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}
.note .bottom-content {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.note__date {
  color: #6d6d6d;
  font-size: 14px;
}
.bottom-content .settings {
  position: relative;
}
.bottom-content .settings i {
  color: #6d6d6d;
  cursor: pointer;
  font-size: 15px;
}
.settings .menu {
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.settings.show .menu {
  transform: scale(1);
}

.settings .menu__option {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;
}

.menu__option:last-child {
  margin-bottom: 0;
}

.menu__option:hover {
  background: var(--color-light--4);
}

.menu__icon {
  padding-right: 8px;
}

/********************************/

/** Main side **/

.main-side {
  z-index: -2;
  background-color: var(--color-dark--1);
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 2.4rem 2.4rem 2.4rem 8.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media only screen and (max-width: 660px) {
  }
}

/** Logo **/
.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 16rem;
  fill: #fff;
}

/** Add note **/

.note-container {
  z-index: 1000;
  position: absolute;
  display: flex;
  width: 41rem;
  height: 100%;
  left: 6.4rem;
  justify-content: flex-end;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
  @media only screen and (max-width: 660px) {
    justify-content: center;
  }
}

.note-container.show {
  opacity: 1;
  pointer-events: auto;
  @media only screen and (max-width: 660px) {
    left: 5rem;
    width: calc(100% - 4.8rem);
  }
}

.note-container .add-note {
  border-radius: 5px;
  background: #fff;
  width: calc(100% - 15px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.4rem;
}
.add-note__header {
  padding: 8px 25px;
  border-bottom: 1px solid #ccc;
}
.add-note__header .header__title {
  font-size: 20px;
  font-weight: 500;
}
.add-note__header .header__icon {
  color: #8b8989;
  cursor: pointer;
  font-size: 23px;
}
.add-note__form {
  margin: 15px 25px 35px;
  @media only screen and (max-width: 660px) {
    /* margin: 15px 12px 35px; */
  }
}
.add-note__form .row {
  margin-bottom: 12px;
}
.add-note__form .row label {
  font-size: 18px;
  display: block;
  margin-bottom: 6px;
}
.add-note__form :where(input, textarea) {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #999;
}
.add-note__form :where(input, textarea):focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
}
.add-note__form .row textarea {
  height: 24rem;
  resize: none;
  padding: 8px 15px;
}
.add-note__form button {
  width: 100%;
  height: 50px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  background: #6a93f8;
}
/* @media (max-width: 660px) {
  .wrapper {
    margin: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .note-container {
    max-width: calc(100% - 15px);
  }
  .bottom-content .settings i {
    font-size: 17px;
  }
} */

/*****************************/
